@font-face {
    font-family:JosefinSans-Bold ;
    src: url(../fonts/JosefinSans-Bold.ttf);
}
@font-face {
    font-family:JosefinSans-ExtraLight ;
    src: url(../fonts/JosefinSans-ExtraLight.ttf);
}
@font-face {
    font-family:JosefinSans-Light ;
    src: url(../fonts/JosefinSans-Light.ttf);
}
@font-face {
    font-family:JosefinSans-Medium ;
    src: url(../fonts/JosefinSans-Medium.ttf);
}
@font-face {
    font-family:JosefinSans-Regular ;
    src: url(../fonts/JosefinSans-Regular.ttf);
}
@font-face {
    font-family:JosefinSans-SemiBold ;
    src: url(../fonts/JosefinSans-SemiBold.ttf);
}
@font-face {
    font-family: MrDeHaviland-Regular ;
    src: url(../fonts/MrDeHaviland-Regular.ttf);
}